html,
body {
    font-family: 'Poppins', $font-fallback;
    overflow-x: hidden;
    color: $color-primary;
    font-weight: 400;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --height: 199px;
}

.container {
    padding: 0 8%;

    @media (min-width: 1600px) {
        padding: 0 14%;
    }

    @media (max-width: 1200px) {
        padding: 0 6%;
    }

    @media (max-width: 425px) {
        padding: 0 4%;
    }
}

.row {
    .col {
        max-width: 100%;
    }
}

header {
    position: relative;
    z-index: 1;

    #logo {
        margin-top: -18px;
        max-height: 100%;

        @media (max-width: 992px) {
            img {
                height: 90px;
            }
        }

        @media (max-width: 576px) {
            img {
                height: 80px;
            }
        }
    }

    .header-sub {
        height: 40px;
        font-size: 16px;

        @media (max-width: 1440px) {
            height: 45px;
        }

        @media (max-width: 1036px) {
            height: 20px;

            .container {
                display: none;
            }
        }
    }
}

nav {
    background: $color-primary;
    height: 80px;

    @media (max-width: 992px) {
        height: 60px;
    }

    @media (min-width: 1037px) {
        .mnav {
            display: none;
        }
    }

    #links {
        height: 100%;
        font-size: 16px;

        @media (max-width: 1036px) {
            display: none;
        }
        
        a {
            color: #fff;
            position: relative;
            height: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 20px;
            padding: 0 5px;

            @media (max-width: 1440px) {
                height: 80px;
            }

            &::after,
            &.active::after {
                content: '';
                width: 100%;
                height: 4px;
                position: absolute;
                bottom: 0;
                background: $color-accent-light;
                transform: skewX(-30deg);
                opacity: 0;
                transition: opacity .3s $easing;
            }

            &:hover::after,
            &.active::after {
                opacity: 1;
            }
        }
    }

    .call {

        @media (max-width: 1036px) {
            display: none;
        }
    }
}

.mnav {
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

#big-slider {
    --height: 450px;

    background: #dc2b24;
    background: linear-gradient(45deg, #dc2b24 0%,#6c1c1e 100%);
    position: relative;
    height: var(--height);

    .tns-nav {
        position: absolute;
        right: 10%;
        top: 50%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        transform: translateY(-50%);
        align-items: center;

        @media (max-width: 992px) {
            display: none;
        }

        button {
            $size: 10px;

            width: $size;
            height: $size;
            border-radius: 50%;
            background: #fff;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        &-active {
                position: relative;
                
                &::after {
                    content: '';
                    width: 30px;
                    height: 30px;
                    display: block;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
        }
    }

    .slider-wrapper {
        position: relative;

        .slide {
            position: relative;
            height: var(--height);

            .slider {
                &-caption {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    color: #fff;
                    width: 100%;
                    transform: translateY(-50%);

                    .container-inner {
                        background: rgba(#0b1f35,.3);
                        padding: 25px;
                        width: 70%;

                        @media (max-width: 576px) {
                            width: 100%;
                        }
                    }

                    h1.title {
                        font-weight: 800;
                        font-size: 35px;
                        margin-bottom: 20px;

                        @media (max-width: 768px) {
                            font-size: 25px;
                        }
                    }

                    p {
                        font-size: 16px;

                        @media (max-width: 768px) {
                            font-size: 13px;
                        }
                    }
                }

                &-img {
                    img {
                        height: var(--height);
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }
        }
    }
}

#inventory {
    margin-top: -30px;
    position: relative;
    z-index: 2;
    // background: url(../img/rock-bg.webp) no-repeat left bottom / 100px;

    .tns-outer {
        position: relative;
    }

    a.btn-control {
        position: absolute;
        top: calc(15px + calc(var(--height) / 2));
        z-index: 1;
        transform: translateY(-50%);

        &.btn-prev {
            left: 0;
        }

        &.btn-next {
            right: 0;
        }
    }

    > .row {
        padding: 0 50px;
        position: relative;

        @media (max-width: 425px) {
            padding: 0 25px;
        }
    }

    .mob-shown {
        @media (min-width: 993px) {
            display: none;
        }
    }

    .title-row {
        padding-top: 30px;
        padding-bottom: 30px;
        background: #fff;
        display: flex;
        align-items: center;

        @media (max-width: 992px) {
            text-align: center;
        }

        .sub {
            line-height: 1.8;
        }

        > .col {
            &:first-child {
                flex: 0 0 70%;
            }

            &:last-child {
                flex: 1;
                text-align: right;

                @media (max-width: 992px) {
                    display: none;
                }
            }
        }

        @media (max-width: 992px) {
            flex-direction: column;

            > .col {
                &:last-child {
                    margin-top: 20px;
                }
            }
        }

        h1.title {
            font-weight: 800;
            font-size: 30px;
            margin-bottom: 10px;

            @media (max-width: 768px) {
                font-size: 25px;
            }
        }
    }

    .slide {
        padding: 15px;

        @media (max-width: 992px) {
            text-align: center;
        }

        .title {
            font-size: 25px;
            font-weight: 800;
            display: flex;
            align-items: center;
            height: 80px;
            margin-top: -10px;

            @media (max-width: 992px) {
                justify-content: center;
            }

            @media (max-width: 1400px) {
                font-size: 20px;
            }
        }

        .content {
            font-size: 16px;
            line-height: 30px;

            @media (max-width: 1400px) {
                font-size: 13px;
            }
        }
    }
}

#about {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background: url(../img/about-bg.webp) no-repeat top / cover;

    .rock {
        position: absolute;
        top: -40px;
        left: 0;
        z-index: -1;

        img {
            width: 130px;
        }
    }

    @media (max-width: 576px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    > .row {
        display: flex;
        flex-flow: wrap;

        @media (max-width: 992px) {
            flex-direction: column-reverse;
        }

        > .col {
            flex: 0 0 50%;
            align-self: center;

            &:first-child {
                padding-right: 20px;

                @media (max-width: 992px) {
                    margin-top: 100px;
                    // margin-bottom: -25px;
                    text-align: center;
                }

                @media (max-width: 576px) {
                    margin-top: 50px;
                }
            }

            &:last-child {
                @media (max-width: 768px) {
                    text-align: center;

                    img {
                        width: 50%;
                    }
                }
            }
        }
    }

    .sub {
        font-size: 20px;
        margin-bottom: 10px;

        @media (max-width: 768px) {
            font-size: 15px;
        }
    }

    h1.title {
        font-size: 40px;
        margin-bottom: 25px;

        @media (max-width: 992px) {
            margin-bottom: 30px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }
    }

    p {
        font-size: 16px;

        @media (max-width: 768px) {
            font-size: 14px;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .btn-cta {
        margin-top: 20px;
    }
}

#gallery {
    padding: 0 8px;
}

#contact {
    background: url(../img/contact-bg.webp) no-repeat center / cover;
    color: #fff;

    .container {
        > .row {
            @media (max-width: 992px) {
                flex-direction: column;
            }

            > .col {
                flex: 0 0 50%;
            }
        }

        .info-row {
            @media (max-width: 992px) {
                flex-direction: column;
                align-items: center;
                text-align: center;

                .col {
                    &:first-child {
                        width: fit-content;
                    }
                }
            }
        }
    }

    .btn-submit {
        @media (max-width: 992px) {
            align-self: center;
            margin-top: 20px;
        }
    }

    h1.title {
        font-size: 40px;
        line-height: 1;

        @media (max-width: 768px) {
            font-size: 40px;
        }

        span {
            display: block;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        &::before,
        &::after {
            content: '';
            display: block;
            background: rgba(#fff,0.12);
            width: 100%;
        }

        &::before {
            height: 100px;
            margin-bottom: 10px;

            // @media (max-width: 768px) {
            //     height: 120px;
            //     margin-bottom: 10px;
            // }
        }

        &::after {
            height: 20px;
            margin-top: 10px;

            // @media (max-width: 768px) {
            //     height: 30px;
            //     margin-top: 10px;
            // }
        }
    }

    h2.title {
        font-size: 30px;
        margin-bottom: 10px;

        @media (max-width: 768px) {
            font-size: 30px;
            margin-bottom: 20px;
        }

        @media (max-width: 992px) {
            text-align: center;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        > * {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        .btn-submit {
            margin-top: 10px;
        }
    }

    input,
    textarea {
        border-bottom: 2px solid rgba(#fff,0.45);
        padding: 15px 0;
        font-size: 14px;
        color: #fff;
        font-family: inherit;

        @media (max-width: 768px) {
            font-size: 13px;
        }

        &::placeholder {
            color: #fff;
        }
    }

    .details {
        font-size: 14px;
        margin-left: 25px;
        padding: 15px 0;

        .only {
            &-m {
                display: none;
            }
        }

        @media (max-width: 992px) {
            text-align: center;
            margin-left: 0;

            .only {
                &-d {
                    display: none;
                }

                &-m {
                    display: inline-block;
                }
            }
        }

        // @media (max-width: 768px) {
        //     font-size: 16px;
        // }
    }

    .contact-form {
        padding: 50px 0;

        @media (max-width: 768px) {
            padding-top: 50px;
            // padding-bottom: 20px;
        }
    }
}

footer {
    background: #151e22;
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    border-top: 4px solid #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 992px) {
        border-top: 0;
    }
}

.hero {
    $height: 310px;

    background: #dc2b24;
    background: linear-gradient(45deg, #dc2b24 0%,#6c1c1e 100%);
    position: relative;
    max-height: $height;
    color: #fff;

    img {
        height: $height;
        width: 100%;
        object-fit: cover;
    }

    > .container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .container-inner {
        background: linear-gradient(to right, rgba(11,31,53,.45) 0%,rgba(255,255,255,0) 100%);
        padding: 25px;
        width: 70%;

        @media (max-width: 992px) {
            width: 100%;
        }
    }

    h1.title {
        font-weight: 800;
        font-size: 35px;
        margin-bottom: 20px;

        @media (max-width: 992px) {
            font-size: 25px;
        }
    }

    p.content {
        font-size: 16px;

        @media (max-width: 992px) {
            font-size: 13px;
        }
    }
}

.page-content {
    padding: 30px 0;

    h1.title {
        color: #0b2731;
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 10px;

        ~ p {
            // font-size: 15px;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    h2.title {
        margin-bottom: 8px;
        font-weight: 800;
    }

    .sub {
        line-height: 1.8;
        font-size: 13px;
        text-align: center;
        margin-bottom: 10px;
    }

    .about-row {
        @media (max-width: 992px) {
            flex-direction: column-reverse;
            text-align: center;
        }

        .col {
            flex: 0 0 50%;

            &:first-child {
                flex: 0 0 70%;
            }

            &:last-child {
                flex: 0 0 30%;

                img {
                    height: 350px;
                    width: auto;
                    position: relative;
                    margin-top: -100px;
                }
            }
        }
    }
}

#vision {
    background: rgba(#d7d8d9,.15);
    margin-top: 50px;
    margin-bottom: 50px;

    .row {
        // flex-direction: column;
        align-items: center;

        .imgcol {
            flex: 0 0 30%;
        }

        .txtcol {
            flex: 0 0 70%;
            padding: 0 10px;
        }

        @media (max-width: 992px) {
            text-align: center;

            &-vision {
                flex-direction: column;
            }
    
            &-mission {
                flex-direction: column-reverse;
            }
        }
    }
}

#foot-links {
    font-weight: 600;

    a {
        color: #fff;
        font-size: 14px;
        position: relative;

        &:not(:last-child) {
            margin-right: 40px;

            &::after {
                content: '|';
                margin-left: 20px;
                position: absolute;
            }
        }
    }
}

#contact-hero {
    .container-inner {
        background: linear-gradient(to right, rgba(#0b1f35,.3) 0%,rgba(255,255,255,0) 100%);
    }
}

#forms {
    .sub {
        text-align: left;
    }

    .container {
        > .row {
            background: #fff;
            margin-top: -60px;
            position: relative;
            border-radius: 35px;
    
            > .col {
                flex: 1;
                padding: 35px;
            }
        }
    }

    .col-touch {
        > .row {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    .gmaps {
        iframe {
            width: 100%;
        }
    }
}

#contact-us-form {
    background: #fff;
    height: 100%;
    padding: 35px;
    border-radius: 35px;
    box-shadow: 0 0 35px -5px rgba(#000,0.15);
    text-align: center;

    .sub {
        text-align: center;
        margin-bottom: 30px;
    }

    .form {
        &-control {
            background: rgba(#918c8c,0.1);
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 10px;
        }
    }
}